@charset "UTF-8";
/*common*/
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  transition: all 100ms 500ms ease;
}

body {
  margin: auto;
  color: #DBDBDB;
  background-color: #2C2C2C;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}

a:hover {
  color: #AFAFAF;
  border-color: #AFAFAF;
}

.mincho {
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", 'Kozuka Mincho Pro', "kozuka-mincho-pr6n",  "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.gothic {
  font-family: "Futura Std","futura-pt","Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.font-gray {
  color: #DBDBDB;
}

.effect-right {
  opacity: 0;
  transition: 1.2s;
  transform: translateX(100px);
}

.effect-left {
  opacity: 0;
  transition: 1.2s;
  transform: translateX(-100px);
}

.imgs {
  opacity: 0;
  transition: 1.2s;
}

.img-effect-right {
  transition: 1.2s;
  transform: translateX(100px);
}

.img-effect-left {
  transition: 1.2s;
  transform: translateX(-100px);
}

#hidden-all {
  opacity: 0;
}

#hidden-all.load {
  opacity: 1;
  transition: opacity 1.0s;
  -moz-transition: opacity 1.0s;
  -webkit-transition: opacity 1.0s;
  -o-transition: opacity 1.0s;
}

#hello {
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  width: 100vw;
}

.progressbar {
  position: absolute;
  font-size: 5vw;
  text-align: center;
  margin-top: 55vh;
  height: 1px;
  background-color: #f6f6f6;
  transition: all 0.3s ease 0s;
}

/* top */
#top {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#top-image1 {
  position: absolute;
  width: 40%;
  margin: 30vh 35%;
}

#top-image1 svg {
  margin: auto;
}

#top-name {
  position: absolute;
  height: 100px;
  text-shadow: 0 0 10px #000000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  overflow: hidden;
}

#top-scroll {
  position: absolute;
  width: 10vw;
  bottom: 40px;
  right: 0;
  left: 0;
  text-align: center;
  margin: auto;
  z-index: 100;
  cursor: pointer;
}

#line {
  position: absolute;
  top: 90vh;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.line {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  width: 80vw;
  z-index: 10;
}

/* main */
.content-wrap {
  position: relative;
  width: 100%;
  height: 50vw;
  z-index: 200;
}

.content-wrap img {
  position: absolute;
  margin: auto;
  transition: 0.5s ease;
}

.img0 {
  z-index: 120;
}

.img1 {
  z-index: 130;
  opacity: 0;
  animation: fade 8s linear 4s infinite normal both;
}

@keyframes fade {
  0% {
    opacity: 0;
    z-index: 110;
  }
  1% {
    z-index: 130;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 0;
    z-index: 130;
  }
  59% {
    z-index: 110;
  }
  100% {
    opacity: 0;
  }
}

.yoko {
  width: 50vw;
  top: 15vw;
  bottom: 10vw;
}

.tate {
  top: 0;
  width: 30vw;
  bottom: 0;
}

.black-back {
  position: absolute;
  width: 100%;
  height: 50vw;
  z-index: 0;
  background-color: #212121;
}

.content-right {
  right: 5vw;
  text-align: right;
}

.content-left {
  left: 5vw;
  text-align: left;
}

.tate-content-right {
  right: 10vw;
}

.tate-content-left {
  left: 15vw;
}

.type {
  position: absolute;
  text-align: right;
  z-index: 120;
}

.icons {
  display: inline-block;
  position: absolute;
  width: 50vw;
  top: 10vw;
}

i {
  position: relative;
  font-size: 3vw;
  letter-spacing: 5px;
  margin: 50px 0;
}

.caption-wrap {
  position: absolute;
  bottom: 10vw;
  top: 10vw;
  width: 35vw;
  margin: auto;
  z-index: 20;
}

.caption-wrap p {
  text-align: justify;
  font-size: 1.4vw;
  margin: 1vw 0 0 0;
}

.caption-wrap p a {
  text-decoration: underline;
}

.caption {
  bottom: 0;
  text-align: left;
  position: absolute;
}

.title {
  font-size: 3vw;
  padding: 0 10px;
  border-left: solid 5px #DBDBDB;
}

.date {
  font-size: 1.5vw;
}

#bottom {
  position: relative;
  width: 100%;
  height: 80vw;
}

.thanks {
  display: none;
}

@media screen and (max-width: 750px) {
  h1 {
    margin: 10px;
    font-size: 7vw;
  }
  #line {
    display: none;
  }
  .content-wrap {
    height: 70vh;
  }
  .content-wrap img {
    margin: 17vh auto;
  }
  .black-back {
    height: 70vh;
  }
  .yoko {
    width: 80vw;
    max-height: 28vh;
    margin: auto;
    top: 0;
    bottom: 10vw;
  }
  .tate {
    top: 0;
    width: auto;
    max-height: 25vh;
    bottom: 0;
  }
  .content-right {
    margin: 3vh auto 0 auto;
    right: 0;
    left: 0;
    text-align: center;
  }
  .content-left {
    margin: 2vh auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .tate-content-right {
    margin: 2vh auto;
    right: 0;
    left: 0;
    text-align: center;
  }
  .tate-content-left {
    left: 0;
    right: 0;
    text-align: center;
  }
  .icons {
    width: 100vw;
    top: 13vw;
  }
  i {
    font-size: 6vw;
    letter-spacing: 5px;
  }
  .caption-wrap {
    position: absolute;
    bottom: 5vw;
    top: 10vw;
    width: 85vw;
  }
  .caption-wrap p {
    text-align: justify;
    font-size: 3vw;
    margin: 1vw 0 0 0;
  }
  .caption-wrap p a {
    text-decoration: underline;
  }
  .caption {
    bottom: 1vh;
    text-align: left;
    position: absolute;
  }
  .title {
    font-size: 6vw;
    padding: 0 10px;
    border-left: solid 5px #DBDBDB;
  }
  .date {
    font-size: 4vw;
  }
  .thanks {
    display: block;
    text-align: center;
    font-size: 10vw;
    margin: 20vh 0;
  }
}
